@import './src/components/src/lib/theme/theme';

.app {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: $min-supported-height;
}

@media (orientation: landscape) {
    .app {
        min-width: $min-supported-width-landscape;
    }
}

@media (orientation: portrait) {
    .app {
        min-width: $min-supported-portrait;
    }
}
