{
    "presets": [
        [
            "@nrwl/react/babel",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [],
    "env": {
        "e2e": {
            "plugins": ["istanbul"]
        }
    }
}
